@media screen and (max-width: 1023px) {
  .navbar-header img {
    height: 4vw;
  }
  .navbar-header .navbar-brand img {
    height: 3vw;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .top-header {
    width: 100% !important;
    min-height: 50px;
  }
  #header-tricolore {
    scale: 4;
  }
  #pin {
    height: 50px;
  }
  .navbar-collapse {
    margin-top: 20px;
  }
  .navbar-header img {
    padding-left: 0rem;
  }
  .navbar-header .navbar-brand img {
    height: 7vw;
  }
  .navbar-header .nav-link {
    padding: 5% 0rem !important;
    font-size: 18px !important;
  }
  .navbar-nav {
    /* align-items: start !important; */
  }
  #introduction, #cuissons, #caracteristiques, #origine, #accessoires, #galerie-accessoires, #map {
    padding: 3rem 0.5rem!important;
  }
  #intro-logo {
    width: 14vw !important;
}
  .video-container {
    height: 100% !important;
  }
  .blank {
    display: none;
  }
  #accessoires .title {
    margin-bottom: 1vh !important;
  }
  h1 {
    padding: 1rem 0.5rem !important;
    font-size: 35px !important;
  }
  h2 {
    padding: 0.5rem 0.5rem !important;
    font-size: 18px !important;
  }
  h3 {
    padding: 0.5rem 0rem !important;
    font-size: 16px !important;
  }
  h4 {
    padding: 0rem !important;
    font-size: 14px !important;
  }
  h5 {
    padding: 0.5rem 0rem !important;
    font-size: 16px !important;
  }
  h6 {
    padding: 0.5rem 0rem !important;
    font-size: 14px !important;
  }
  p {
    font-size: 12px !important;
  }

  .barbecue-info {
    font-size: 12px !important;
  }
  .barbecue-tag:hover .barbecue-info {
    display: none !important;
}
  .caracteristiques-link{
    margin: 5vh 0 2vh 0 !important;
    padding: 0.5vh 6vw 0.5vh 3vw!important;
  }
  .caracteristiques-link a{
    font-size: 12px !important;
  }
  .caracteristiques-footer {
    font-size: 12px !important;
    margin-bottom: 0 !important;
  }
  .accessoire-text {
    font-size: 12px !important;
  }
  footer {
    padding: 0 !important;
    font-size: 12px !important;
  }
  .desktop-cards {
    display: none !important;
  }
  .mobile-cards {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    padding: 5% 2% !important;
  }
  .cards-text {
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 3% !important;
  }
  .cards-text h3, h4, h5, h6 {
    width: 95% !important;
  }
  .cross {
    margin-top: 2vh;
  }
  .p-tournebroche {
    padding-top: 5vw !important;
    height: 50% !important;
    bottom: 5% !important;
    left: -20% !important;
    text-align: start !important;
  }
  .cards-image {
    justify-content: center;
    align-items: end;
    width: 70%;
    padding-top: 2%;
    margin-bottom: 5%;
  }
  .cards-background {
    top: 5%;
    right: 0%;
  }
  .cards-background img{
    width: 75% !important;
  }
  .carousel-control-prev-icon {
    visibility: hidden;
  }
  .carousel-control-next-icon {
    visibility: hidden;
  }
  .black-cross {
    width: 30%;
    height: 30%;
  }

  #mobile-caracteristiques {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    color: #ffffff;
    font-size: 20px;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 12vh;
    width: 55%;
    text-align: center;
  }
  #origine .tricolore {
    scale: 0.4 !important;
    top: 3% !important;
}
  .label {
    padding: 5% 0 !important;
  }
  .conception {
    padding: 0 10vw !important;
}
  #conception-title {
    font-size: 12px !important;
  }
  .conception-schema {
    margin: 10vw 1vw 35vh 1vw !important;
  }
  .conception-description {
    font-size: 12px !important;
    transform: rotate(90deg);
    width: 85vw;
    margin-top: 45vw !important;
    text-align: start !important;
  }
  .conception-bubble {
    height: 10vw !important;
    width: 10vw !important;
  }
  .origine-map-link {
    padding: 38vw 10vw 2vh 10vw !important;
}

  #accessoires {
    background-size: contain !important;
  }
  #accessoires .cards-image {
    width: 90% !important;
  }
  #galerie-accessoires {
    background-position: 50% 0%!important;
    background-size: 150% !important;
  }
  .accessoire-container p {
    height: auto !important;
  }
  .desktop-accessoires {
    display: none !important;
  }
  .mobile-accessoires {
    display: flex !important;
    margin-top: 15% !important;
  }
  #galerie-gueuleton {
    padding: 10% !important;
  }
  .galerie-images {
    padding: 0 !important;
  }

  .animated-title-container {
    width: 170vw;
    margin-left: -70vw;
    top: 40%;
  }
  .animated-title {
    width: 140vw !important;
  }
  .animated-title-container.barbecue{
    top: 79% !important;
  }
  .animated-title-container.desserte{
    top: 86% !important;
  }

  #team {
    padding: 70vw 5% 10% 5% !important;
  }
  .team-content {
    padding: 12% 2% 12% 2% !important;
  }
  #team-photo{
    height: 30vw !important;
  }
  #team-photo img{
    top: -70vw !important;
    left: 10% !important;
    height: auto !important;
    width: 80% !important;
  }
}
